@if (vm$ | async; as vm) {
    @if (vm.isLoading) {
        <div class="preloader">
            <div class="preloader__wrapper">
                <div class="preloader__img"></div>
                <h1 class="preloader__title">
                    {{vm.currentSection?.title}}
                </h1>
            </div>
        </div>
    } @else {
        <div class="container">
            <div class="question">
                <app-indicator [progress]="progress" [questionCount]="questionCount"></app-indicator>
                <div class="question__elem">
                    <p class="question__text">{{vm.currentQuestion?.text}}</p>
                    <form [formGroup]="form">
                        <fieldset class="question__wrapper">
                            @switch (vm.currentQuestion?.questionType) {
                                @case ("radio") {
                                    @for (field of vm.currentQuestion?.fields; track field) {
                                        <label>
                                            <input [class]="field.class" type="radio" [name]="field.name" [formControlName]="field.name" [value]="field.variant" 
                                            [placeholder]="field?.placeholder" (change)="onRadioChange(field.name, field.variant)" 
                                            [checked]="field.variant === form.get(field.name)?.value">
                                            <div class="radio-indicator">
                                                <span>{{field?.variant}}</span>
                                            </div>
                                        </label>
                                    }
                                }
                                @case ("checkbox") {
                                    @for (field of vm.currentQuestion?.fields; track field; let idx = $index) {
                                        <label [formArrayName]="vm.currentQuestion?.questionName!">
                                            <input [class]="field.class" type="checkbox" [formControlName]="idx" [value]="field.variant" [placeholder]="field?.placeholder" (change)="onCheckboxChange(vm.currentQuestion?.questionName!, $event, field.variant)" required>
                                            <div class="checkbox-indicator">
                                                <fa-icon class="checkbox-indicator__icon" [icon]="faCircleCheck"></fa-icon>
                                                <span>{{field?.variant}}</span>
                                            </div>
                                        </label>
                                    }
                                }
                                @default {
                                    @for (field of vm.currentQuestion?.fields; track field) {
                                        @if (field.type === "textarea") {
                                            <textarea [ngClass]="{'error': form.get(field.name)?.invalid && form.get(field.name)?.touched}" [class]="field.class" rows="4" [formControlName]="field.name" [placeholder]="field?.placeholder" required></textarea>
                                        } @else {
                                            <label>{{field?.variant}}</label>
                                            <input [ngClass]="{'error': form.get(field.name)?.invalid && form.get(field.name)?.touched}" [class]="field.class" [type]="field.type" [formControlName]="field.name" [placeholder]="field?.placeholder" required>
                                        }
                                    }
                                }
                            }
                        </fieldset>
                        <div class="question__btn-wrapper">
                            @if (progress !== 0) {
                                <button class="btn btn--back" (click)="prevQuestion()">Назад</button>
                            }
                            <button class="btn btn--forward" [disabled]="!form.valid" (click)="nextQuestion()">Далее</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
}