<div class="container">
    <div class="contact">
        <p class="question contact__question">Tation argumentum et usu, dicit viderer evertitur te has. Eu dictas concludaturque usu, facete detracto patrioque an per lucilius.</p>
        <form class="contact__form" [formGroup]="contactForm">
            <fieldset class="contact__wrapper">
                <input class="field contact__field" type="text" formControlName="name" placeholder="Имя" required>
                <input class="field contact__field" type="text" formControlName="email" placeholder="Email" required>
                <input class="field contact__field" type="text" formControlName="phone" placeholder="Телефон" required>
            </fieldset>
            <div class="contact__btn-wrapper">
                <!-- <button class="btn btn--back">
                    <fa-icon [icon]="faArrowLeft"></fa-icon>
                    <span>Назад</span>
                </button> -->
                <button class="btn btn--forward" [disabled]="!contactForm.valid">
                    <span>Далее</span>
                    <!-- <fa-icon [icon]="faArrowRight"></fa-icon> -->
                </button>
            </div>
        </form>
    </div>
</div>